body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

h1 {
    margin: 0;
    font-size: 300%;
    font-variant: small-caps;
}

.container {
    border: 5px solid #e0f2fe;
    background-color: #e0f2fe;
    border-radius: 10px;
    padding: 32px;
    margin: 16px;
}

.container, #results {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

#results {
    font-size: 200%;
    font-variant: bold;
    height: 6rem;
}

#scores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 48px;
    font-size: 120%;
}

.buttondiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 48px;
}

button {
    padding: 8px 24px;
    border-radius: 5px;
    font-size: 130%;
    border: 3px solid blue;
    background-color: blue;
    color: white;
    font-weight: bold;
}

button:hover {
    background-color: rgb(0, 0, 140);
    border-radius: 5px;
    border: 3px solid rgb(0, 0, 140);
    cursor: pointer;
}