.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttondiv {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 16px;
}